.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.login-container {
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  text-align: center;
  width: 500px;
  max-width: 90vw;
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}
.navbar-translucent {
  background: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(8px);
  box-shadow: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}